<h1>Product List Component</h1>

<select (change)="categorySelection($event)">
    <option value="0">All Categories</option>
    <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
</select>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Product</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id}}</td>
      <td>{{ product.name }}</td>
      <td>{{ product?.category?.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button (click)="btnClick(product.id, product.name, product.price)"  type="button" class="btn btn-success">
          Add
        </button>
      </td>
    </tr>
  </tbody>
</table>
